---
import type {MarkdownLayoutProps} from 'astro'
import Layout from '../layouts/Layout.astro'

import 'styles/blog.css'
import {Image} from '@astrojs/image/components'

type Props = MarkdownLayoutProps<{
  title: string
  siteTitle: string
  description: string
  image: {
    alt: string
    url_landscape: string
    url_square: string
  }
  tags: string[]
  pubDate: string
}>

const {
  frontmatter: {title, image, description, siteTitle},
} = Astro.props
---

<Layout title={title} description={description} image={image.url_landscape} siteTitle={siteTitle}>
  <main class='mx-auto max-w-screen-lg'>
    <Image
      src={image.url_landscape}
      alt={image.alt}
      format='jpg'
      width={1200}
      height={630}
      class='h-96'
    />

    <h1 class='text-center lg:mt-12 lg:px-16'>{title}</h1>
    <div class='mx-auto max-w-screen-md'>
      <div class=''>
        <slot />
      </div>
    </div>
  </main>
</Layout>
